*{
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    margin: 0;
}

header {
    background-color: papayawhip;
    font-family: monospace;
    color: tomato;
    text-align: center;
    padding: 1rem;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}


.box {
    height: 300px;
    border-radius: 20px;
}

@media (min-width:600px) {
    div {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box {
        width: 31%
    }
}